@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    /* font-family: 'Roboto', sans-serif; */
    background-color: white !important;
}
.video-container {
    width: 100%;
    height: 490px;
    position: relative;
}

.gray-text {
    color: #909090;
}

.p-10 {
    padding: 6rem !important;
}

.ml-2 {
    margin-left: 1rem;
}

.sub-btn-active {
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding: 0% 2px;
    /* height: 36px;
    width: 114px; */
    border-radius: 0;
    border: none;
    background-color: #efefef !important;
    color: #606060 !important;
}

.sub-btn-active:hover, .sub-btn-active:focus {
    background-color: #F9F9F9;
    border: none;
    color: #606060;
}

.sub-btn {
    /* height: 36px;
    width: 114px; */
    font-size: 14px !important;
    font-weight: 500 !important;
    border-radius: 0;
    border: none;
    background-color: red !important;
    color: white !important;
}

.sub-btn:hover, .sub-btn:focus {
    background-color: red;
    border: none;
    color: white;
}

.comment-form-control {
    width: 100%;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid #919191;
}

.comment-form-control:focus {
    outline: none;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.space-y {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.focus-close {
    margin-left: 30.5rem !important;
    border-radius: 50% !important;
}

.focus-close:hover {
    background-color: #e9ecef4f !important;
}

.text-decoration-none {
    color: #909090;
}

.form-control-search {
    border-top-left-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

.input-group-text {
    border-top-right-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
    background: transparent;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tool-text {
    position: relative;
    /* display: inline-block; */
}

.tool-text .tooltiptext {
    visibility: visible;
    /* width: 100%; */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool-text .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tool-text:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#social-links {
    margin: 0 auto;
}
#social-links ul li {
    display: inline-block;
}

.social-media {
    transition: .5s;
    transition-delay: 0s;
    /* height: 120px; */
    padding: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.social-media-btn{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    line-height: 50px;
    cursor: pointer;
    margin: 0;
    text-align: center;
}

.social-media-btn:nth-child(1){
    background: #1877F2;
    color: white;
    font-size: 25px;

}

.social-media-btn:nth-child(2){
    background: #1DA1F2;
    color: white;
    font-size: 25px;

}

.social-media-btn:nth-child(3){
    background: #0A66C2;
    color: white;
    font-size: 25px;

}

.social-media-btn:nth-child(4){
    background: #FF4500;
    color: white;
    font-size: 25px;

}

.social-media-btn:nth-child(5){
    background: #888888;
    color: white;
    font-size: 25px;

}

.social-media-btn:nth-child(6){
    background: #E60023;
    color: white;
    font-size: 25px;

}
.social-media-btn:nth-child(7){
    background: #25D366;
    color: white;
    font-size: 25px;

}

.skeleton {
    opacity: .7 !important;
    border-radius: .75rem;
    animation: skeleton-loading 1s linear infinite alternate !important;
}

.skeleton-text {
    width: 100%;
    height: .6rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    width: 80%;
    margin-bottom: 0;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    75% {
        background-color: hsl(200, 20%, 80%);
    }
    
    100% {
        background-color: hsl(200, 20%, 90%);
    }
}

.font-initial {
    font-size: initial;
}

.filter-video {
    background-color: #f1f1f1 !important;
    border: none !important;
    color: #000 !important;
}

.border-sm {
    border-radius: .75rem !important;
}

.mr-2 {
    margin-right: 1rem;
}

.text-upperfirst::first-letter {
    text-transform: uppercase;
}

.max-h-500 {
    max-height: 100%;
    overflow-x: scroll;
}

.sb-active {
    background-color: #f1f1f1;
    border-radius: .75rem;
    padding: .3rem;
}

.sb-active .material-icons {
    color: red;
}

.max-w-15 {
    max-width: 15%;
}

.gap-3-half {
    gap: 1.3rem;
}

.w3-modal {
    padding-top: 200px !important;
}

.history-search {
    width: 93% !important;
}

.card .for-search{
    max-height: 340px; 
    overflow-y: scroll;
}

@media (min-width: 993px) {
    .w3-modal-content {
        width: 500px !important;
    }
}

@media (max-width: 993px) {
    .text-social {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-expand-md {
        flex-wrap: nowrap !important;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-collapse {
        display: flex !important;
        flex-basis: auto !important;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: row !important;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

@media (min-width: 576px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 98% !important;
    }
}